.popup__container {
  margin: 0;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .popup__container {
    justify-content: flex-start;
    align-items: center;
    width: 282px;
    margin-top: 123px;
  }
  
}