.popup__container {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 430px;
  height: 330px;
  outline: 1px red solid;
}

@media screen and (max-width: 550px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
  
}