.header {
  margin: auto;
  margin-top: 45px;
  padding-bottom: 40px;
  max-width: 880px;
  border-bottom: 1px hsl(0, 0%, 33%, 0.7) solid;
  margin-bottom: 41px;
  align-self: flex-start;
}


@media screen and (max-width: 550px) {
  .header {
    padding-bottom: 30px;
    margin-top: 28px;
  }
  
}