.error {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 0;
  visibility: hidden;
  box-sizing:border-box;
  max-width: 358px;
  display: block;
  position: absolute;
  top: 58px;

  
}