.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-image: url(/image/edit-btn.svg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}

@media screen and (max-width: 650px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
  
}