.card__like-btn {
  margin-right: 20px;
  background-image: url(/image/like-button.svg);
  background-repeat: no-repeat;
  background-color: white;
  align-self: center;
  color: black;
  width: 22px;
  height: 20px;
  border-style: none;
  grid-column: 1;
  justify-self: flex-end;
  grid-row: 2;
}


.card__like-btn:hover {
  background-image: url(/image/like-button_hover.svg);
}