.popup__submit-btn {
  width: 358px;
  height: 50px;
  background-color: black;
  color: white;
  margin: 0;
  opacity: 1;
}

.popup__submit-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__submit-btn {
    margin-top: 15px;
    width: 238px;
    height: 46px;
  }
  
}