.card__title {
  margin: 0;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 30px;
  grid-row: 2;
  grid-column: 1;
  max-width: 186px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}